
<div class="navbar-fixed">
  <nav class="nav-extended white">
    <div class="nav-wrapper white">
      <ul>
        <li><a href="#!" class="title grey-text text-darken-1">Potify Manager</a></li>
      </ul>
      <div class="search-wrapper">
        <i class="material-icons">search</i>
        <input type="search" name="Search" placeholder="Search Song" />
      </div>
      <ul class="right">
        <li><a href="#!"><i class="material-icons grey-text text-darken-1">apps</i></a></li>
        <li><a href="#!"><i class="material-icons grey-text text-darken-1">notifications</i></a></li>
        <li><a href="#!"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40532/profile/profile-80.jpg" class="circle"></a></li>
      </ul>
    </div>
    <div class="nav-wrapper nav-2">
      <ul>
        <li><a class="waves-effect waves-light btn btn-flat white-text">New</a></li>
      </ul>
      <ul class="right">
        <li><a href="#!"><i class="material-icons grey-text text-darken-1">view_list</i></a></li>
        <li><a href="#!"><i class="material-icons grey-text text-darken-1">info</i></a></li>
        <li><a href="#!"><i class="material-icons grey-text text-darken-1">settings</i></a></li>
      </ul>
    </div>
  </nav>
</div>

